body{
  font-family: "Constantia";
}

.p2{
  font-family: "Constantia";
  text-align: center;
  color: rgba(255, 255, 220, 1);
  font-size: 15px;
  font-weight: bolder;
  padding-top: 100px;
}

.p3{
  font-family: "Constantia";
  text-align: center;
  color: rgba(255, 255, 220, 1);
  font-size: 15px;
  font-weight: bolder;
  padding-top: 100px;
}

h1{
  font-family: "Constantia";
  text-align: center;
  color: rgba(255, 255, 220, 1);
  font-size: 20px;
  font-style: oblique;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

article {
  float: left;
  padding: 50px;
  width: 100%;
  background-color: none;
}

.sidebar-left{
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  font-size: 22px;
  color: white;
  text-align: left;
  line-height: 70px;
  user-select: none;
}

.sidebar-left header{
  font-size: 22px;
  color: lightblue;
  text-align: left;
  line-height: 70px;
  background-color: rgba(0,0,0,.8);
  user-select: none;
  padding-left: 25px;
}

.sidebar-left ul a{
  display: block;
  height: 100%
  width: 100%;
  line-height: 65px;
  font-size: 15px;
  color: white;
  padding-left: 20px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid black;
  transition: .2s;
}

.sidebar-right{
  float:right;
  width: 70%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  font-size: 10px;
  color: lightblue;
  text-align: left;
  padding-left: 10px;
  line-height: 70px;
  user-select: none;
}

.sidebar-right header{
  font-size: 22px;
  color: ;
  text-align: center;
  line-height: 70px;
  background-color: rgba(0,0,0,.8);
  user-select: none;
  padding-left: 25px;
}

.sidebar-right table{
  table-layout: auto;
  font-family: "Constantia";
  font-weight: lighter;
  display: block;
  height: 100%
  width: 100%;
  line-height: 5px;
  font-size: 11px;
  color: white;
  box-sizing: border-box;
  transition: .2s;
}

table {

  border-collapse: collapse;
  width: 100%;
  padding-bottom: 10px;
}

th, td {
  border: 1px solid rgba(255,255,255,0.1);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:;
  padding: 10px;
}

ul li:hover a{
  padding-left: 25px;
}

.sidebar-left ul a i{
  margin-right: 15px;
}

body {
  background-image: url("../imagens/nature.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
